<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ML API</title>
</head>
<body>
<h2 align="center"><em><b><u>Car Price Prediction Model</u></b></em></h2>
<form action="/predict" method="POST">
    <div>
        <label for="Year">Year in which car was purchased :</label>
        <input type="number" name="Year" id="Year" placeholder="year" required>
        <br><br>
        <label for="pp">Present Price :</label>
        <input type="pp" name="pp" id="pp" placeholder="present price" required>
        <br><br>
        <label for="kms">Kms Driven :</label>
        <input type="number" name="kms" id="kms" placeholder="kms driven" required>
        <br><br>
        <label for="fuel">Fuel Type</label>
        <select name="fuel" id="fuel" required>
            <option value="petrol">Petrol</option>
            <option value="diesel">Diesel</option>
            <option value="cng">CNG</option>
        </select>
        <br><br>
        <label for="deal">Seller Type</label>
        <select name="deal" id="deal" required>
            <option value="dealer">Dealer</option>
            <option value="individual">Individual</option>
        </select>
        <br><br>
        <label for="transmission">Transmission</label>
        <select name="transmission" id="transmission" required>
            <option value="petrol">Automatic</option>
            <option value="diesel">Manual</option>
        </select>
        <br><br>
        <label for="owner">Owner</label>
        <select name="owner" id="owner" required>
            <option value="0">0</option>
        </select>
        <br><br>
        <input type="submit">

    </div>
</form>
<h4 style="text-align: center;">{{prediction_txt}}</h4>
</body>
</html>